body, html, div, p, h1, h2, h3, h4, h5, h6, a {
    padding: 0;
    margin: 0;
}

.header {
    min-width: 100%;
    height: 90px;
    background-color: #333;
    color: white;
    border-bottom: #1d1d1d;
    position: sticky;
    z-index: 2;
}

.containerimgheader {
    background-color: inherit;
    height: 45px;
    width: 45px;
    flex: initial;
    z-index: inherit;
}

#imgheader {
    height: 50px;
    margin-top: 18px;
    margin-left: 18px;
    z-index: inherit;
}

.navigation {
    background-color: #333;
    flex-direction: row;
    position: absolute;
    top: 0%;
    right: 0%;
    justify-items: stretch;
}

.buttonnavigationpc {
    width: auto;
    display: inline;
    padding: 35px 0px 20px 0px;
}

.anavigation {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    padding: 35px 10px 38px 10px;
    transition: background-color;
    transition-duration: 0.3s;
    position: relative;
    top: 35px;
}

.buttonnavigationpc:hover > .anavigation {
    background-color: orange;
}

.navigationtel input {
    position: absolute;
    top: -30px;
}

.navigationtel label {
    position: absolute;
    top: -30px;
}

.anavigation {
    text-decoration: none;
    color: white;
}

.navtel {
    position: absolute;
    top: -300px;
    right: 0px;
    background-color: #333;
    padding: 40px 12Opx 40px 120px;
    min-width: 100%;
    z-index: 1;
}

.anavigationtel {
    padding: 5px 5px 5px 5px;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 10px;
    transition: background-color;
    transition-duration: 0.5s;
    font-family: Arial;
    text-decoration: none;
    color: white;
}

.anavigationtel a {
    color: white;
    text-decoration: none;
}

.anavigationtel:hover {
    background-color: orange;
}

@media only screen and (max-width: 750px) {
    .navigation {
        position: absolute;
        top: -150px;
    }

    .navigationtel label {
        position: absolute;
        right: 23px;
        top: 23px;
        font-size: 30px;
        cursor: pointer;
    }

    .buttonnavigationtel {
        list-style: none;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
    }

    #hamburgernavigationtel[type="checkbox"]:checked ~ .navtel {
        transform: translateY(390px);
        transition: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
}