body, html, div, p, h1, h2, h3, h4, h5, h6, a {
    padding: 0;
    margin: 0;
}

.header {
    min-width: 100%;
    height: 90px;
    background-color: #333;
    color: white;
    border-bottom: #1d1d1d;
    position: fixed;
    z-index: 2;
}

.containerimgheader {
    background-color: inherit;
    height: 45px;
    width: 45px;
    flex: initial;
    z-index: inherit;
}

#imgheader {
    height: 50px;
    margin-top: 18px;
    margin-left: 18px;
    z-index: inherit;
}

.navigation {
    background-color: #333;
    flex-direction: row;
    position: absolute;
    top: 0%;
    right: 0%;
    justify-items: stretch;
}

.buttonnavigationpc {
    width: auto;
    display: inline;
    padding: 35px 0px 20px 0px;
}

.anavigation {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    padding: 35px 10px 38px 10px;
    transition: background-color;
    transition-duration: 0.3s;
    position: relative;
    top: 35px;
}

.buttonnavigationpc:hover > .anavigation {
    background-color: #f76d01;
}

.navigationtel input {
    position: absolute;
    top: -30px;
}

.navigationtel label {
    position: absolute;
    top: -30px;
}

.anavigation {
    text-decoration: none;
    color: white;
}

.navtel {
    position: absolute;
    top: -300px;
    right: 0px;
    background-color: #333;
    padding: 40px 12Opx 40px 120px;
    min-width: 100%;
    z-index: auto;
}

.anavigationtel {
    padding: 5px 5px 5px 5px;
    margin-right: 10%;
    border-radius: 10px;
    transition: background-color;
    transition-duration: 0.5s;
    font-family: Arial;
    text-decoration: none;
    color: white;
}

.anavigationtel a {
    color: white;
    text-decoration: none;
}

.anavigationtel:hover {
    background-color: #f76d01;
}

@media only screen and (max-width: 750px) {
    .navigation {
        position: absolute;
        top: -150px;
    }

    .navigationtel label {
        position: absolute;
        right: 23px;
        top: 23px;
        font-size: 30px;
        cursor: pointer;
    }

    .buttonnavigationtel {
        list-style: none;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
    }

    #hamburgernavigationtel[type="checkbox"]:checked ~ .navtel {
        transform: translateY(390px);
        transition: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

    .presentationpagetitles h1 {
        font-size: 120%;
    }

    .corps .presentationpage img {
        height: 100%;
    }

    .avantages {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .sousavantages {
        display: flex;
    }

    .sousavantages h4 {
        margin: auto;
    }

    .imgavantages {
        height: 130px;
        border-radius: 100px;
    }

    .avantages {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@font-face {
    font-family: "Paladins";
    src: local("../basileusesport.fr/paladins-webfont.woff2"), url("https://drive.google.com/uc?export=download&id=1NW6oK3gcIn1jp0C4t6GqSIG7Gha4v9-t"), url("../ressources/font/paladins-webfont.woff");
}

@font-face {
    font-family: "Paladins";
    src: local("../basileusesport.fr/paladins-webfont"), local("../basileusesport.fr/paladins-webfont.woff2"), url("../ressources/font/paladins-webfont.woff2");
}

.corps {
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.presentationpageimg {
    min-width: 100%;
    position: fixed;
    filter: saturate(1.5);
}

.presentationpagetitles {
    font-size: 200%;
    font-family: Paladins;
    color: black;
    float: right;
    padding-right: 40px;
    position: absolute;
    top: 350px;
    right: 0;
    text-align: right;
}

.presentationpagetitles h3 {
    font-style: italic;
    font-size: medium;
    color: white;
}

.corpspage {
    padding: 40px 3% 40px 3%;
    position: relative;
    top: 660px;
    z-index: auto;
    background-color: white;
}

.imgavantages {
    max-height: 200px;
    border-radius: 100px;
}

.avantages {
    text-align: center;
    display: flex;
}

.sousavantages {
    border-radius: 10px;
    box-shadow: 1px 1px 10px grey;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.corpspage h3 {
    font-family: Paladins;

}

@media only screen and (min-width: 750px) {
    .avantages {
        min-width: 100%;
        background-color: white;
    }

    .sousavantages {
        flex: 1;
        background-color: white;
    }
}

.corps h2 {
    font-family: Paladins;
}

.corps p {
    margin: 10px;
}

.buttonhistoire {
    padding: 15px;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 10px;
    border: solid 2px #ff3300;
    background-color: #f76d01;
    filter: saturate(2);
    color: white;
    transition: all ease-in 0.3s;
    margin-left: 38%;
}

.buttonhistoire:hover {
    background-color: orange;
    border: solid 2px #f76d01;
    box-shadow: 0px 0px 4px rgb(5, 5, 5);
}

.histoire {
    text-align: justify;
}

.form-recrutement {
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    padding: 30px 10% 30px 10%;
    text-align: center;
}

.form-recrutement input[type="text"] {
    border-radius: 10px;
    border: 2px solid darkgray;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 25px;
    width: 70%;
    color: black;
}

.form-recrutement button {
    border: solid 2px #ff3300;
    background-color: #f76d01;
    filter: saturate(2);
    color: white;
    transition: all ease-in 0.3s;
    padding: 15px;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 10px;
}

.form-recrutement button:hover {
    background-color: orange;
    border: solid 2px #f76d01;
    box-shadow: 0px 0px 4px rgb(5, 5, 5);
}

.form-recrutement select {
    width: 50%;
    padding: 4px;
    border-radius: 10px;
}